<h3>Creating New Picture</h3>

<form method="post" action="/pictures">
  <input type= "text" name= "picture[author]" placeholder="Author">
  <input type= "text" name= "picture[photo_url]" placeholder="Photo Url">
  <input type= "text" name= "picture[date_taken]" placeholder="Date Taken">
  <input type= "text" name= "picture[captions]" placeholder="Put your Caption">
  <input type= "submit"><a href="/">Home</a>
</form>
